@import url(src/styles/nav.css);
@import url(src/styles/landing.css);
@import url(src/styles/animations.css);
@import url(src/styles/misc.css);
@import url(src/styles/forms.css);
@import url(src/styles/dashboard.css);
* {
    padding: 0;
    margin: 0;

}
:root {
    --background: #000000;
    --backgroundLight: #EEF0F4;

    --stroke: #171720;
    --strokeLight: #D6DAE1;
    --strokeLight-glass: #d6dae186;

    --bg-secondary: #0f0f14;
    --bg-secoondaryLight: #C5CAD3;

    --stroke-secondary: #1b1b24;
    --stroke-secondaryLight: #C5CAD3;

    --hilight: #1d1f2b;
    --hilightLight: #E5EEFF;

    --bg-glass: #0c0d0f;
 
    --brand-color-secondary: #410b6d;
    --brand-color: #a537ff;

    --h1-dark: #F4F4FF;
    --h1-light: #0E0E10;

    --h2-dark: #C4C4CC;
    --h2-light: #000000;

    --h3-dark: #8B8E95;

    --navbar: #55575c;
    --hilight-text: #326CFF;

    --font-xxl: 3.6rem;
    --font-xl: 1.7rem;
    --font-lg: 1.5rem;
    --font-md: 1rem;
    --font-sm: .8rem;
}
.bg-01 {
    background: var(--background);
}
.bg-02 {
    background-size: cover;
    background-image: url(src/assets/backgrounds/land01.jpg);
}
.bg-03 {
    background-size: cover;
    background-image: url(src/assets/backgrounds/404-gif.gif);
}
.bg-04 {
    background-size: cover;
    background-image: url(src/assets/backgrounds/rody2.png);
}
.bg-05 {
    background-size: contain;
    background-image: url(src/assets/backgrounds/fotopng.png);
}
footer {
    background-color: #140a42;
    font-family: 'superhelio _regular', sans-serif;
    p {
        color: var(--h2-dark);
        font-size: var(--font-lg);
    }
    h1 {
        color: var(--h1-dark);
        font-size: var(--font-xl);
    }
    a {
        color: var(--h1-dark);
        font-size: var(--font-md);
    }
    span {
        color: var(--brand-color);
    }
    .social-link {
        display: flex;
        align-items: center;
        transition: .2s;
        img {
            margin-top: .3rem;
            width:1rem;
            height: 1rem;
            object-fit: contain;
            margin-right: .5rem;
        }
    }
    .social-link:hover {
        color: var(--brand-color);
    }
}