@keyframes glow {
    0% {
        box-shadow: 2px 1px 2px  1px rgba(105, 255, 59, 0.205);
    }
    50% {
        box-shadow: 2px 1px 2px  1px rgba(104, 255, 59, 0.521); 
    }
    100% {
        box-shadow: 2px 1px 2px  1px rgba(105, 255, 59, 0.199);
    }
}