#introduction {
    font-family: 'superhelio _regular', sans-serif;
    .banner {
        transition: .5s;
        width: 800px;
    }
    .banner:hover {
        transform: scale(1.05);
    }
    .btn-container {
        margin-top: -2rem;
    }
    .btn-primary {
        background-color: var(--brand-color);
        border-bottom: 10px solid var(--background);
        color: var(--h1-dark);
        padding: .8rem 2.5rem;
        font-weight: bolder;
        font-size: var(  --font-xl);
        transition: .15s;
    }
    .btn-primary:hover {
        top: 8px;
        position: relative;
        background-color: var(--h1-dark);
        color: var(--h1-light);
        border-bottom: 5px solid var(--background);
    }
    h1 {
        margin-bottom: .2rem;
        color: var(--h1-dark);
        font-size: var(--font-xl);
    }
    p {
        color: var(--h1-dark);
        font-size: var(--font-lg);
    }
}
#about {
    font-family: 'superhelio _regular', sans-serif;
    background-color: #050632;
    p {
        color: var(--h1-dark);
        font-size: var(--font-lg);
    }
    h1 {
        margin-bottom: .2rem;
        color: var(--h1-dark);
        font-size: var(--font-xxl);
    }
    .plan-card {
        display: flex;
        align-items: center;
        flex-direction: column;


        width: 300px;
        height: 400px;
        background-color: var(--brand-color-secondary);
        border-bottom: 8px solid var(--brand-color);
        transition: .2s;

        img {
            margin-top: .2rem;
            object-fit: contain;
            height: 200px;
            width: 98%;
        }
        .vps-img {
            object-fit: cover;
        }
        h2 {
            color: var(--h1-dark);
            font-size: var(--font-xl);
        }
        p {
            color: var(--h1-dark);
            font-size: var(--font-s);
        }
        a {
            padding: .5rem 2rem;
            height: 40px;
            background-color: var(--h1-dark);
            transition: .2s;
        }
        a:hover {
            background-color: var(--brand-color);
        }
        .info-card {
            width: 98%;
        }
    }
    .plan-card:hover {
        border: 1px solid var(--brand-color);
        transform: scale(1.08);
        border-bottom: 8px solid var(--brand-color);
    }
}