<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/global.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/superhelio" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/higherpixels" rel="stylesheet">

    <title>Document</title>
</head>
<body class="bg-03 ">
    <main class="">
        <section id="introduction" class=" flex items-center justify-center pt-24 pb-44 h-screen">
            <div>
                <div>
                    <img class="banner" src="static/src/assets/icons/wizzard 1.svg" alt="">
                </div>
                <div class="flex items-center justify-center btn-container">
                    <h1 class="text-white">ocorreu um erro inesperado.</h1>
                </div>
            </div>
        </section>
    </main>

</body>
</html>