<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/global.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/superhelio" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/higherpixels" rel="stylesheet">

    <title>Document</title>
</head>
<body class="bg-01 ">
    <header>
        <div class="announcments w-full items-center justify-between flex items-center">
            <div class="flex items-center justify-center gap-2"> <div id="status-color" class="green m-2 "></div><span>all systems are operational</span></div> <div class="gap-8 flex items-center mr-8"><a class="btn-nav mt-2" href="/login">sign in</a></div>
        </div>
    </header>
    <main class="bg-02">
        <section id="introduction" class="bg-02 flex items-center justify-center pt-24 pb-44 h-screen">
            <div>
                <div>
                    <img class="banner" src="static/src/assets/icons/wizzard 1.svg" alt="">
                </div>
                <div class="flex items-center justify-center btn-container">
                    <a class="btn-primary" href="/about">About Wizard.Host</a>
                </div>
            </div>
        </section>
        <div class="transtion-shadow-01">

        </div>
        <section id="about" class=" flex-col items-center flex justify-center pb-48 text-center">
            <div class="text-container">
                <p>Welcome to Wizard.host, where hosting meets wizardry. <br><br> Whether you're launching a game server, building your next web app, or running bots and scripts like a true tech sorcerer, we've got the perfect infrastructure to make it happen.

                    We deliver high-performance servers, total control, and real support — no tricks, just powerful tools at your fingertips. From blazing-fast load times to rock-solid uptime, your projects run smoother, faster, and smarter with us.
                    
                    No limits. No fluff. Just raw hosting power, scalable plans, and a touch of digital alchemy. 
                    
                    Ready to cast your next big idea into the world?<br><br>
                    <strong>  Wizard.host — Let the magic begin.</strong></p>
            </div>
            <div id="plans" class="flex items-center justify-center flex-warp mt-28 gap-12 mb-24">
                <div class="plan-card">
                    <img src="static/src/assets/icons/minecraft.webp" alt="">
                    <div class="info-card text-center">
                        <h2>Minecraft</h2>
                        <p class="mt-4">Build, survive, and explore without limits. Our high-performance servers give you full control, low latency, and a lag-free experience.</p>
                        <div class="mt-6">
                            <a href="/minecraft">Ver Planos</a>
                        </div>
                    </div>
                </div>
                <div class="plan-card">
                    <img class="vps-img " src="static/src/assets/icons/vps.png" alt="">
                    <div class="info-card text-center">
                        <h2>VPS</h2>
                        <p class="mt-4">Scalable, powerful, and customizable. Perfect for developers, bots, web apps, and anything in between.</p>
                        <div class="mt-6">
                            <a href="/vps">Ver Planos</a>
                        </div>
                    </div>
                </div>
                <div class="plan-card">
                    <img src="static/src/assets/icons/static.gif" alt="">
                    <div class="info-card text-center">
                        <h2>Static website</h2>
                        <p class="mt-4">Fast, secure, and always online. Host your portfolio, blog, <br> or landing page with ultra-low latency and automatic HTTPS.</p>
                        <div class="mt-6">
                            <a href="/static">Ver Planos</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="transtion-shadow-02">

    </div>
    <footer>
        <section class="flex items-center justify-center gap-20 flex-warp">
            <div class="flex flex-col text-center">
                <p class="mb-2">Socials</p>
                <a class="social-link" href=""><img src="static/src/assets/icons/socials/Icon2.png" alt="">X/twitter</a>
                <a class="social-link" href=""><img src="static/src/assets/icons/socials/Icon5.png" alt="">Discord</a>
            </div>
            <div class="flex flex-col text-center">
                <p class="mb-2">terms</p>
                <a class="social-link" href="/privacy">Privacy policy</a>
                <a class="social-link" href="/terms">Terms of service</a>
            </div>
            <div class="flex flex-col text-center">
                <p class="mb-2">Suport</p>
                <a class="social-link" href=""><img src="static/src/assets/icons/socials/Icon25.png" alt="">admin@wizard.host</a>
            </div>
        </section>
        <section>
            <p><br></p>
        </section>
    </footer>
</body>
</html>